body {
    background-image: url("https://images.unsplash.com/photo-1501262852236-faefb3dc67b2?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8ZHV0Y2glMjBiYWJ5JTIwcGFuY2FrZXxlbnwwfHwwfHx8MA%3D%3D");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
  